# GDQ Credentials
GDQ_EMAIL=""
GDQ_PASSWORD=""
GDQ_MEMBER_CAP=1850
GDQ_URL="https://gamesdonequick.com"
GDQ_LOGIN_RELATIVE="/auth/login"
GDQ_PROFILE_RELATIVE="/profile"

# Twilio Credentials
GDQ_TWILIO_SID=""
GDQ_TWILIO_TOKEN=""
GDQ_TWILIO_PHONE_TO=""
GDQ_TWILIO_PHONE_FROM=""

# Messenger Credentials
GDQ_MESSENGER_EMAIL=""
GDQ_MESSENGER_PASSWORD=""
